= form_for(document) do |f|
  - if document.errors.any?
    div#error_explanation
      h2 #{pluralize(document.errors.count, "error")} prohibited this document from being saved:

      ul
        - document.errors.full_messages.each do |message|
          li = message

  div.field
    = f.label :file
    = f.file_field :file

  div.actions
    = f.submit
