p#notice = notice

h1 Documents

- if @documents.count > 0

  = search_form_for @q do |f|
    = f.label :ocr_text_cont
    = f.search_field :ocr_text_cont
    = f.submit

  table
    thead
      tr
        th
        th Date
        th Filename
        th Content Type
        th Processed?
        th colspan="2"
      
    tbody
      - @documents.each do |document|
        tr
          td 
            a href="#{image_url document}"
              = icon_for document
          td = document.created_at.stamp('2016-02-31')
          td
            = link_to document.filename, document
          td = document.content_type
          td = document.ocr_text?
          td = link_to 'Show', document
          td = link_to 'Edit', edit_document_url(document)
          td = link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' }
  br
  = paginate @documents

- if @files_to_be_processed.count > 0
  h3 Files waiting to be imported:
  ul
    - @files_to_be_processed.each do |f|
      li = f.split('/').last

= link_to 'New Document', new_document_url
= " | "
= link_to 'Import Now', import_now_url
