p#notice = notice

p
  strong Date:
  br
  = @document.created_at

p
  strong Content Type:
  br
  = @document.content_type

p
  a href="#{image_url(@document)}"
    = miniature_for @document

p 
  strong OCR Text:
  br
  = @document.text_as_html

= link_to 'Edit', edit_document_path(@document)
= " | "
= link_to 'Back', documents_path 
