ul.menu {
  margin: 0;
  padding: 0;
  display: inline;

  li.menu-item {
    display: inline;
    padding: 0.5em;
    margin: 0.05em;
    text-align: center;
    border: 1px solid black;

    a, a:visited, a:hover {
      color: black;
      background: none;
      text-decoration: none;
    }
  }

  li.menu-item:hover {
    a, a:visited, a:hover {
      color: white;
    }
    cursor: pointer;
    background: black;
  }
}