doctype html
html
  head
    title Popcorn
    = csrf_meta_tags
    = action_cable_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  body
    div.header
      ul.menu
        li.menu-item = link_to :start, root_url
        - if user_signed_in?
          - if @current_link
            li.menu-item = @current_link
          li.menu-item = link_to :logout, destroy_user_session_url, method: :delete
        - else
          li.menu-item = link_to :login, new_user_session_url

    div.content
      div.flashes
        = show_flash :error
        = show_flash :success
      = yield

    div.footer
